*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

nav a:hover {
  color: rgb(6, 6, 89);
}

menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: grid;
  justify-items: center;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3em;
  justify-items: center;
}

.nav__menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* gap: 1.5em; */
}

.nav__menu-items:not(:first-child)::before {
  content: "|";
  padding: 0 16px;
}

/* .nav__menu > li + li {
  border-left: 1px solid #000;
  margin: 0 1rem;
} */

/*
.nav__menu-links {
  display: block;
}
*/

.main {
  display: grid;
  gap: 2em;
}

.main__image {
  display: block;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-inline: auto;
}

.main__presentation {
  display: grid;
  justify-items: center;
}

.main__presentation > p {
  text-align: center;
}

.main__presentation span {
  font-weight: bold;
}

.main_presentation__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6em;
}

.main__presentation h3,
.main__presentation h1 {
  margin: 0;
}

.button {
  display: grid;
  text-align: center;
  border: 1px solid #000;
  /* padding: 0 1em; */
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.main_presentation__nav span:nth-child(1) {
  background: #eea302;
}

.main_presentation__nav span:nth-child(2) {
  background: #e13b25;
}

.main_presentation__nav span:nth-child(3) {
  background: #80d8da;
}

.footer {
  border-top: 1px solid #d9d9d9;
  padding-top: 1em;
  width: 100%;
}

.footer__content {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  margin-bottom: 1.5rem;
}

.footer__content > div > * {
  text-align: center;
  margin: 0;
}

.footer__content h3 {
  margin-bottom: 5px;
}

.text-small {
  font-size: 0.8rem;
}

.experience__entete span {
  font-weight: normal;
}

.main__projet__content {
  display: grid;
}

@media screen and (min-width: 640px) {
  .experience__entete {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
  }

  .footer__content {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  .main__projet__content {
    grid-template-columns: 1fr minmax(450px, 1fr);
    gap: 5em;
  }
}

@media screen and (min-width: 950px) {
  .nav__menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
  }

  .main {
    grid-template-columns: 500px 1fr;
    /* gap: 0; */
    align-items: center;
  }

  .main__presentation {
    justify-items: flex-start;
  }

  .main__presentation > p {
    text-align: unset;
  }

  .main__cv {
    grid-template-columns: unset;
  }

  .main__projet {
    grid-template-columns: unset;
  }

  .experience__entete {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }
}
